<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Adrià Alonso Salvat. It uses data from mapbox.com and darksky.net in order to provide us the weather for a given location.</p>
        <img class="portrait" src="/img/profile2.jpg">
    </div>
    
    {{>footer}}
</body>

</html>